In [28]:
import pandas as pd
import nltk

In [3]:
df = pd.read_csv("Emotion_final.csv")

In [4]:
df

                                                    Text  Emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
21454               Melissa stared at her friend in dism     fear
21455  Successive state elections have seen the gover...     fear
21456               Vincent was irritated but not dismay     fear
21457  Kendall-Hume turned back to face the dismayed ...     fear
21458                    I am dismayed , but not surpris     fear

[21459 rows x 2 columns]

In [14]:
df.describe()

                            Text Emotion
count                      21459   21459
unique                     21405       6
top     i feel so tortured by it   happy
freq                           2    7029

In [12]:
df.Emotion.nunique()

6

In [11]:
df.Emotion.value_counts()

happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
Name: Emotion, dtype: int64

In [24]:
dup = df.duplicated()
dup.value_counts()

False    21456
True         3
dtype: int64

In [26]:
doublons = df[dup]
doublons

                                                    Text Emotion
13846  i feel more adventurous willing to take risks ...   happy
21165         There was a hint of exasperation in his vo   anger
21250  His comments are a major diplomatic gaffe as t...    fear

In [27]:
df = df.drop_duplicates(keep='last')